/*
body {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0; 
}
*/


body,ul{
  margin:0;
  padding:0;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

main{
  min-height: 71vh;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}


.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}
  
  
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  
  
.brand {
    display: flex;
    align-items: center;
}
  
  
li>a {
    padding: 8px 24px;
}
  
  
li {
    list-style-type: none;
}
  
  
a {
    color: white;
    text-decoration:none;
}
  
  
.nav-links {
    display: flex;
    align-items: center;
}
  
  
.button-menu-toggle {
    display: none;
}

/*
h1 {
    margin: 10px;
    margin-bottom: 3%;
    color: #f0f;
    background-color: #ccc;
    border: 2px dashed black;
    display: inline-block;
    padding: 10px;
}

h2 {
    color: #00f;
    margin-bottom: 30px;
}




.subtitulo {
    margin-top: 30px;
    margin-bottom: 47px;
}

p {
    margin: 10px;
    background-color: #fff;
    padding: 10px;
}

form {
    border: 1px solid black;
    box-shadow: 0 0 15px black;
    color: white;
    max-width: 300px;
    height: fit-content;
    margin: 100px auto;
    border-radius: 5%;
    background-image: url("https://blogs.classplusapp.com/wp-content/uploads/2022/06/Want-to-Teach-Coding-5-ways-to-start-it-1024x571.jpg");
    object-fit: cover;
}

input {
    margin: 0 auto;
    width: 80%;
    height: 25px;
    outline: none;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    display: block;
    margin: 10px auto;
    width: 80%;
    min-height: 120px;
    outline: none;
    border-radius: 5px;
}

#funcion {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    color: white;
    background-color: darkslategray;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    transition-duration: .5s;
}
#envio {
    width: 150px;
    height: 40px;
    margin: 90px auto;
    color: white;
    background-color: darkseagreen;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    border: none;
    transition-duration: .5s;
}

label {
    display: block;
    margin: 20px auto;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

*/
/*
img{
  display: block;
  max-width: 100%;
  width: 350px;
  margin:20px;
}
*/


.img-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.video-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;

}


footer {
  position: relative;
  bottom:0;
  z-index: -1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-height: 200px;
  text-align: center;
  width: 100%;
}

img{
 height: 200px;
}

footer p{
  color:white;
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}



@media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
    }
    
    .img-container{
      flex-direction: column;
    }

    .video-container{
      padding:10px;
      gap: 5px;
    }

    iframe,video{
      max-width: 90%;
    }
    img{
        width: 300px;
    }
}

  